html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}


/* NAVIGATION BAR */

.nav {
    position: fixed;
    z-index: 10;
    height: 70px;
    width: 100%;
    color: white;
    background-color: #5e3dff;
    text-align: center;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.55);
}

.nav-button {
    line-height: 70px;
    display: inline-block;
    vertical-align: middle;
    height: -webkit-calc(100% - 5px);
    height: -moz-calc(100% - 5px);
    height: -o-calc(100% - 5px);
    height: calc(100% - 5px);
    padding: 0 15px;
    cursor: pointer;
    text-align: center;
    width: 90px;
    border-bottom-style: solid;
    border-width: 5px;
    -webkit-transition: 0.25s;
    /* Safari */
    transition: 0.25s;
}

.nav-button:hover {
    background-color: #6373ff;
}

.nav-about {
    border-color: rgba(255, 0, 0, 0.5);
}

.nav-project {
    border-color: rgba(255, 255, 0, 0.5);
}

.nav-art {
    border-color: rgba(0, 255, 33, 0.5);
}

.nav-contact {
    border-color: rgba(0, 224, 255, 0.5);
}

.nav-about:hover {
    border-color: rgba(255, 0, 0, 1);
}

.nav-project:hover {
    border-color: rgba(255, 255, 0, 1);
}

.nav-art:hover {
    border-color: rgba(0, 255, 33, 1);
}

.nav-contact:hover {
    border-color: rgba(0, 224, 255, 1);
}


/* HERO SECTION */

.hero {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 100%;
    text-align: center;
    font-size: 2.3em;
}

.kev-text {
    position: relative;
    margin: 0 auto;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}


/* ABOUT SECTION */

.about {
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.55);
    height: 150px;
    padding: 30;
    padding-right: 25;
    border-radius: 5px;
}

.about-text {
    width: 550px;
    text-align: left;
    font-size: 2em;
}

.about-one {
    width: 250px;
    margin-left: 30px;
}


/* PROJECTS SECTION */

.projects {
    width: 100%;
    height: 50%;
    background: #7266ff;
    position: relative;
}

.art {
    width: 100%;
    height: 50%;
    background: #677bff;
}

.contact {
    width: 100%;
    height: 50%;
    background: #75d9ff;
    position: relative;
}

.page {
    height: -webkit-calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    height: -o-calc(100% - 70px);
    height: calc(100% - 70px);
}
