html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

/* COLORS */
.purple{
  background-color: #5e3dff;
}

/* NAVIGATION BAR */

.nav {
    position: fixed;
    z-index: 10;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.55);
}

.nav-button {
    line-height: 70px;
    display: inline-block;
    vertical-align: middle;
    height: -webkit-calc(100% - 5px);
    height: -moz-calc(100% - 5px);
    height: -o-calc(100% - 5px);
    height: calc(100% - 5px);
    padding: 0 15px;
    cursor: pointer;
    text-align: center;
    width: 90px;
    border-bottom-style: solid;
    border-width: 5px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.nav-button:hover {
    background-color: #6373ff;
}

.nav-about {
    border-color: rgba(255, 0, 0, 0.5);
}

.nav-project {
    border-color: rgba(255, 255, 0, 0.5);
}

.nav-art {
    border-color: rgba(0, 255, 33, 0.5);
}

.nav-contact {
    border-color: rgba(0, 224, 255, 0.5);
}

.nav-about:hover {
    border-color: rgba(255, 0, 0, 1);
}

.nav-project:hover {
    border-color: rgba(255, 255, 0, 1);
}

.nav-art:hover {
    border-color: rgba(0, 255, 33, 1);
}

.nav-contact:hover {
    border-color: rgba(0, 224, 255, 1);
}


/* HERO SECTION */

.hero {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 100%;
    text-align: center;
    font-size: 2.3em;
}

.kev-text {
    position: relative;
    margin: 0 auto;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}


/* ABOUT SECTION */

.about {
    width: 100%;
    background: #FAFAFA;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-holder{
  width: 700px;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50 0 50 0;
}

.card {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.30);
    height: 250px;
    margin: 15 15 15 15;
    border-radius: 5px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.card:hover, .card-small:hover{
  -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.70);
  -moz-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.70);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.70);
  transform: translateY(-5px) scale(1.05);
}

.card-small{
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.30);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.30);
  height: 200px;
  margin: 15 15 15 15;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  max-width: 320px;
}

.card-title{
  border-radius: 5px 5px 0 0;
  height: 45px;
  padding-left: 5%;
  padding-top: 7px;
  color: white;
  font-size: 2em;
  vertical-align: middle;
  font-weight: 900;
}

.card-content{
  padding: 3% 5% 0 5%;
  text-align: left;
}

.large-font{
  font-size: 2em;
}

.med-font{
  font-size: 1.5em;
}

.about-text {
    flex-grow: 2;
    text-align: left;
    order: 1;
}

.about-one {
    flex-grow: 1;
    min-width:275px;
    order: 2;
}

@media (max-width: 620px) {
  .large-font{
    font-size: 1.9em;
  }
}

@media (max-width: 470px) {
  .large-font{
    font-size: 1.6em;
  }
}

@media (max-width: 360px) {
  .large-font{
    font-size: 1.4em;
  }
}


/* PROJECTS SECTION */

.projects {
    width: 100%;
    height: 50%;
    background: #7266ff;
    position: relative;
}

.art {
    width: 100%;
    height: 50%;
    background: #677bff;
}

.contact {
    width: 100%;
    height: 50%;
    background: #75d9ff;
    position: relative;
}

.page {
    height: -webkit-calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    height: -o-calc(100% - 70px);
    height: calc(100% - 70px);
}
